 .about {
        width: 100vw;
        height: 50vh;
        padding-top: 15vh;
        text-align: center;
     font-size: 30px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}