 body {
     background-color: #30354a;
     font-family: Roboto Mono, monospace;
     font-weight: 400;
     font-style: normal;
     line-height: 1.5;
}

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #30354a;
     position: absolute;
     top: 5%;
     left: 20%;
     font-size: 20px;
z-index: 99;
}
 ull {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #30354a;
     position: absolute;
     top: 5%;
     right: 20%;
     font-size: 20px;
z-index: 99;
}
 li {
     float: left;
}
 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 8px 10px;
     text-decoration: none;
     font-weight: bold;
}
 .active {
     border-style: solid;
     border-width: thin;
}

@media screen and (max-width: 992px) {
li
{
float: none
}
}