 .social {
        width: 100vw;
        height: 50vh;
        padding-top: 15vh;
        text-align: center;
     font-size: 30px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
 .fa {
     padding: 40px;
     font-size: 30px;
     width: 50px;
     text-align: center;
     text-decoration: none;
     margin: 2px 2px;
}
 .fa-steam {
     background: #1b2838;
     color: white;
}
 .fa-spotify {
     background: #1ed760;
     color: white;
}