 .social {
    margin: auto;
    width: 25rem;
font-size: 1.6rem;
text-align: center;
}
 .fa {
     padding: 40px;
     font-size: 30px;
     width: 2rem;
     text-align: center;
     text-decoration: none;
     margin: 2px 2px;
  border-radius: 1.5rem;
}
 .fa-steam {
     background: #1b2838;
     color: white;
}
 .fa-spotify {
     background: #1ed760;
     color: white;
}